<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">
<h1>Create a Memo</h1>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-2">Date 1/9/15 = 01/09/2015</div>
  <div class="col-md-8">Memo information</div>
</div>

<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control" id="Date" placeholder="MM/DD/YYYY"/>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" id="Memo" placeholder="" />
  </div>
  <div class="col-md-1">
    <button id="btnAdd" onclick="add_memo()">Add</button> 
  </div>

  <div class="col-md-1">
      <button id="btnCan" onclick="location.href='/index';">Cancel</button>
  </div>

</div>
</div> 

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  function add_memo() {
      var e_date = document.getElementById("Date").value;
      var e_memo = document.getElementById("Memo").value;

      if (e_date.length == 10) {
          // AJAX request
          $.getJSON($SCRIPT_ROOT + '/_add_memo', { date: e_date, memo: e_memo } );

          setTimeout(function(){ location.href='/index'; }, 100);
      }
      else {
          alert("Bad date: format is MM/DD/YYYY");
      }


  };  // End of the function to be called when field changes

</script>

</body>
</html>
