<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Create Memo</h1>

<form action="/create">
  <input type="submit" value="create">
</form>

<h1>Memos</h1>

<!-- {% set count = 1 %} -->
{% if session.memos %}
  {% for memo in session.memos %}
  <div class="memo">
    <div class="row">
      <div class="subrow" style="border: thin solid black">
        <div class="col-md-2">
          {{ memo.date | humanize }}
        </div>
        <div class="col-md-8" id="memo">
          {{ memo.text }}
        </div>
      </div>
      <div class="col-md-2">
        <button id="btnDel" onclick="del_memo('{{memo._id}}')">Delete memo</button> 
      </div>
      <!-- {% set count = count + 1 %} -->
    </div> <!-- row -->
  </div> <!-- memo -->
  <br>
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

</div> <!-- container -->

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  function del_memo(memo_id) {

      // AJAX request
      $.getJSON($SCRIPT_ROOT + '/_del_memo', { _id: memo_id } ); // End of the call to getJSON

      setTimeout(function(){ location.reload(true); }, 100);

  };  // End of the function to be called when field changes

</script>

</body>
</html>
